#!/usr/bin/env python
# Make a copy of this file and rename it to credentials.py.
# Then modify the values below for your own environment.

ACCOUNT = "abc12345"
USER = "hobbes3"
PASSWORD = "password12345"
